body {
    color: white;
    padding: 0;
    margin: 0;
}

header {
    background-color: #2b2b2b;
    height: 130px;
}

li {
    list-style: none;
    display: inline;
    margin-left: 0;
}


li:hover{
    transition: 0.3s all;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
}

hr{
    margin-top: 60px;
    margin-left: 10px;
    padding: 6px;
    background-color: #2b2b2b;
}

h1 {
    font-size: 60px;
    margin-top: -50px;
    color: rgb(0, 81, 255);
}

h2 {
    font-size: 40px;
    margin-left: 50px;
    color: #2b2b2b;
}

h3 {
    font-size: 20px;
    margin-top: -50px;
    color: #2b2b2b;
}

h4 {
    font-size: 20px;
    margin-top: 60px;
    color: #2b2b2b;
}

main {
    background-color: white;
    
}

.navegation {
    margin-left: 1250px;
    position: absolute;
    top: 50px;
}

.botao-sm {
    color: rgb(0, 81, 255);
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
    margin-top: 60px;
}

.botao-sm:hover{
    transition: 0.3s all;
    background-color: rgb(0, 81, 255);
    color: white;
}

.estudo {
    width: 1000px;
    height: 600px;
    left: 0;
    top: 130px;
    position: absolute;
    opacity: 80%;
}

.beneficios {
    position: absolute;
    font-size: 50px;
    margin-top: 15px;
    right: 330px;
}

.conhecimento {
    margin-top: 100px;
    margin-left: 1100px;
    width: 70px;
}

.programacao {
    margin-top: 30px;
    margin-left: 1110px;
    width: 60px;
}

.botao-login {
    text-align: center;
    border: 2px solid;
    border-color: white;
    border-radius: 15px;
    padding: 5px;
    margin-left: 15px;
}

.botao-login:hover {
    border-color: rgb(0, 81, 150);
    color: rgb(0, 81, 150);
}

#logo-musk {
    width: 150px;
 }

#txt-inicio {
    display: flex;
    position: absolute;
    margin-top: 90px;
}

#tecnologia {
    display: inline;
    position: absolute;
    margin-top: 200px;
    margin-left: 25px;
}

#melhores {
    margin-top: 50px;
    margin-left: 30px;
}

#txt-1{
    margin-top: -155px;
    margin-left: 1180px;
    color: #2b2b2b;
}

#txt-2{
    margin-top: 40px;
    margin-left: 1180px;
    color: #2b2b2b;
}